<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="d-inline-block align-text-center">
                Fact Check
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link" href="{{ url_for('performance') }}">Performance</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-title text-center  d-flex align-items-center justify-content-center">
        <h1 class="display-4">{{title}}</h1>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="text-center py-3 position-relative custom-footer">
        <div class="container">
            <p class="mb-0">&copy; 2024 My Website</p>
            <a href="#" class="btn btn-light position-absolute bottom-0 end-0 m-3 custom-back-to-top" title="Back to Top">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.5 8a.5.5 0 0 1 .5-.5h2V5a.5.5 0 0 1 1 0v2.5h2a.5.5 0 0 1 0 1h-2V11a.5.5 0 0 1-1 0V8.5H5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
